# echarts-china-counties-js



## 安装 - Installation

```
npm install echarts-china-counties-js
```
    ul
      each province, key in provinces
        li=key
          ul
            each city, cityName in province
              li=cityName
                ul.cities
                  each xian in city
                    li=xian