doctype html
html
  head
    title browse counties
    meta(charset="utf-8")
    style(type="text/css").
      html, body {
          height: 100%;
          margin: 0;
          padding: 0;
          width: 100%;
      }
      body {
      }
    script(src="../echarts.min.js")
    script(src="../china.js")
  body
    div(id="china",style="width:100%;height:100vh")
    script.
      const map = !{JSON.stringify(provinces)};
      const achart = echarts.init(document.getElementById("china"));
      var option =  {
        "backgroundColor": "#c5d6e7", 
        "title": [
          {
        "textStyle": {
          "color": "#000",
          "fontSize": 18
        },
        "subtext": "",
        "text": "中国地图",
        "top": "auto",
        "subtextStyle": {
          "color": "#aaa",
          "fontSize": 12
        },
        "left": "auto"
          }
        ],
        "legend": [
          {
        "selectedMode": "multiple",
        "top": "top",
        "orient": "horizontal",
        "data": [
          ""
        ],
        "left": "center",
        "show": true
          }
        ],
        "series": [
          {
        "mapType": "china",
        "data": [],
        "name": "",
        "symbol": "circle",
        "type": "map",
        "roam": true,
        "label": {
          "normal": {
            "show": true
          }
        }
          }
        ]
      };
      achart.setOption(option);
      achart.on('click', function(params){
        const filename = map[params.name];
        window.location.href = filename + ".html";
      });